/* Start Global Rules */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px 0px;
    --section-background: #f6f6f6;
}

::selection {
    background-color: var(--main-color);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0px 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px 0 0;
    }
}

/* End Components */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .container .links .icon span:first-child {
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .container .links .icon span:last-child {
    width: 100%;
}

.header .container .links ul {
    list-style: none;
    right: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .container .links ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 15px;
    transition: 0.3s;
}

.header .container .links ul li a:hover {
    padding-left: 25px;
}

.header .container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */

/* Start Landing */
.landing {
    height: calc(100vh - 64px);
    background: center center / cover no-repeat url(../images/black_and_1534817744-1024x475.jpeg);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin-top: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing */

/* Start Features */
.features {
    padding: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.features .container .feat:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0px;
}

.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */

/* Start Services */
.services {
    padding: var(--section-padding);
}

.services .container .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: 60px 0;
}

.services .container .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
    padding: 0px 20px;
}

@media (max-width: 767px) {
    .services .container .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .services-content .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .container .services-content .col .srv .text {
    flex: 1;
}

.services .container .services-content .col .srv .text h3 {
    margin-top: 0;
}

.services .container .services-content .col .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .container .services-content .col .image {
    position: relative;
    text-align: center;
}

.services .container .services-content .col .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 120px;
    height: calc(100% + 100px);
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}

.services .container .services-content .col .image img {
    width: 260px;
    height: 300px;
}

@media (max-width: 1199px) {
    .services .container .services-content .col .image-column {
        display: none;
    }
}

/* End Services */

/* Start Portfolio */
.portfolio {
    padding: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: 60px 0;
}

.portfolio .container .portfolio-content .card {
    background-color: #fff;
}

.portfolio .container .portfolio-content .card img {
    width: 100%;
    height: 240px;
}

.portfolio .container .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .container .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .container .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */

/* Start About */
.about {
    padding: var(--section-padding);
}

.about .container .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about .container .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .container .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {
    .about .container .about-content .image {
        margin: 0 auto 50px;
    }
}

.about .container .about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 120px;
    height: calc(100% + 90px);
    position: absolute;
    left: -20px;
    top: -45px;
    z-index: -1;
}

.about .container .about-content .image::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 100px;
    border-left: 100px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    z-index: -1;
    top: -30px;
    right: -140px;
}

@media (max-width:991px) {

    .about .container .about-content .image::after,
    .about .container .about-content .image::before {
        display: none;
    }
}

.about .container .about-content .image img {
    max-width: 100%;
}

.about .container .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .container .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    color: #444;
    margin-bottom: 40px;
}

.about .container .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .container .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About */

/* Start Contact */
.contact {
    padding: var(--section-padding);
    background-color: #f6f6f6;
}

.contact .info {
    padding: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
.contact .info .socail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* End Contact */

/* Start Footer */
.footer {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 30px 10px;
    font-size: 18px;
    color: #fff;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */